<!DOCTYPE html>
<html>
<head>
	<title>My Home Page</title>
</head>
<body>
	<h1> Welcome to my website</h1>
	<hr>

	<h2> Introduction : </h2>
	
	{% for k,v in intro.items() %}
		<ul>
			<li> <b> {{ k }} -</b>  {{ v }}  </li>
		</ul>
	{% endfor %}

	{% if age>=18 %}
		<b> You're eligible to vote. You're age is {{age }} </b>
	{% else %}
		<b> You're a kid</b>
	{% endif %}

	<br>
	<center>
		<img src="{{  dog_img }}" height="400" width="400">
	</center>
		

	<hr>
	<br><br><br>


	<form method="POST" action="/submit">
		<input type="text" name="my_name" placeholder="Enter your Name">
		<input type="submit">	
	</form>
	{% if welcome %}
		<h1>Welcome, {{ welcome }}</h1>
	{% endif %}

<hr>

	<form method="POST" action="/marks">
		Hours : <input type="text" name="inp_hours" placeholder="Enter no. of hours you have studied ">
		<input type="submit">	
	</form>

	{% if marks %}
		<h1> Your marks : {{marks}} </h1>
	{% endif %}

<br><br><br><br><br><br>










</body>
</html>